<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="static/js/echarts.min.js"></script>
       <script type="text/javascript" src="static/js/echarts-gl.min.js"></script>
       <script type="text/javascript" src="static/js/ecStat.min.js"></script>
       <script type="text/javascript" src="static/js/dataTool.min.js"></script>
       <script type="text/javascript" src="static/js/china.js"></script>
       <script type="text/javascript" src="static/js/world.js"></script>
       <script type="text/javascript" src="static/js/bmap.min.js"></script>
       <script type="text/javascript" src="static/js/simplex.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: [{%for i in t_num%}"{{i}}",{%endfor%}]
    },
    series : [
        {
            name: '漏洞类型',
            type: 'pie',
            radius : '80%',
            center: ['50%', '60%'],
            data:[
            {% for i in t_num%}
                {value:{{t_num[i]}}, name:'{{i}}'},
            {%endfor%}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>